@import "../variables.styl"

nav
  padding 1em 0

  & > a
    display inline-block
    padding .5em 1em .5em 0

    &:first-of-type
      padding-left 0

    &.router-link-active
      text-decoration none
      color $highlight
