<div *ngIf="!data">{{'loading' | i18n}}</div>
<pre *ngIf="error">{{error}}</pre>
<template [ngIf]="data">
    <h3>ID {{data.id}} / {{data.map.name}} ({{data.map.weather}}) / {{data.map.mode}}</h3>
    <div class="def-list__values">
        <dl class="def-list">
            <dt class="def-list__term">{{'time_start' | i18n }}</dt>
            <dd class="def-list__desc">{{data.date | datetime }}</dd>
        </dl>

        <dl class="def-list">
            <dt class="def-list__term">{{'duration' | i18n }}</dt>
            <dd class="def-list__desc">{{duration}}</dd>
        </dl>

        <dl class="def-list">
            <dt class="def-list__term">{{'level' | i18n }}</dt>
            <dd class="def-list__desc">{{data.level}}</dd>
        </dl>

        <dl *ngIf="winner" class="def-list">
            <dt class="def-list__term">{{'win' | i18n }}</dt>
            <dd class="def-list__desc">{{winner}}</dd>
        </dl>

        <dl class="def-list">
            <dt class="def-list__term">{{'replay' | i18n }}</dt>
            <dd class="def-list__desc"><a [href]="replay" target="_blank">{{'download' | i18n }}</a></dd>
        </dl>
    </div>

    <data-grid [stream]="stream" [columns]="columns" [group]="group"></data-grid>
</template>
