@import "../../components.common/variables.styl"

h3
  color $highlight
  margin-top 0

data-grid
  margin 1.2em auto
  display block

.imaged
  background-size cover
  background-position 50% 50%
  background-repeat no-repeat
  box-shadow inset 0 0 5em rgba(0, 0, 0, .8)
  padding 1.5em 1.3em
  text-shadow 0 0 2px rgba(0, 0, 0, .8)
