<div *ngIf="!data">{{'loading' | i18n}}</div>
<pre *ngIf="error">{{error}}</pre>
<template [ngIf]="data">
    <h3 [class.imaged]="mapImage" [style.background-image]="mapImage">ID {{data.id}} / {{data.map.name}} ({{data.map.weather}}) / {{data.map.mode}}</h3>
    <div class="def-list__values">
        <dl class="def-list">
            <dt class="def-list__term">{{'time_start' | i18n }}</dt>
            <dd class="def-list__desc">{{data.date | datetime }}</dd>
        </dl>

        <dl class="def-list">
            <dt class="def-list__term">{{'duration' | i18n }}</dt>
            <dd class="def-list__desc">{{duration}}</dd>
        </dl>

        <dl class="def-list">
            <dt class="def-list__term">{{'level' | i18n }}</dt>
            <dd class="def-list__desc">{{data.level}}</dd>
        </dl>

        <dl *ngIf="data.clans && data.clans.length" class="def-list">
            <dt class="def-list__term">{{'clanwar' | i18n }}</dt>
            <dd class="def-list__desc">
                <clan [abbr]="data.clans[0].clan.abbr" [classes]="winner === data.clans[0].clan.abbr ? 'clan_winner clan_nounderline' : 'clan_nounderline'"></clan> vs
                <clan [abbr]="data.clans[1].clan.abbr" [classes]="winner === data.clans[1].clan.abbr ? 'clan_winner clan_nounderline' : 'clan_nounderline'"></clan>
            </dd>
        </dl>

        <dl *ngIf="winner && !data.clanwar" class="def-list">
            <dt class="def-list__term">{{'win' | i18n }}</dt>
            <dd class="def-list__desc">{{winner}}</dd>
        </dl>

        <dl *ngIf="score" class="def-list">
            <dt class="def-list__term">{{'score' | i18n }}</dt>
            <dd class="def-list__desc">{{score}}</dd>
        </dl>

        <dl *ngIf="score" class="def-list">
            <dt class="def-list__term">{{'type' | i18n }}</dt>
            <dd class="def-list__desc"><match-type [type]="data.rating_match"></match-type></dd>
        </dl>

        <dl class="def-list" *ngIf="replay">
            <dt class="def-list__term">{{'replay' | i18n }}</dt>
            <dd class="def-list__desc"><a (click)="trackDownloadReplay()" [href]="replay" target="_blank">{{'download' | i18n }}</a></dd>
        </dl>
    </div>

    <data-grid *ngIf="data" [stream]="stream" [columns]="columns" [group]="group"></data-grid>
</template>
