@import "../../components.common/variables.styl"

:host
  text-decoration none
  color $highlight !important
  display inline-block
  position relative
  &::after
    content ''
    display inline-block
    background url(../../assets/fb.svg) 50% 50% no-repeat
    background-size cover
    width 1em
    height 1em
    margin-left .5em
    vertical-align middle
