<div class="loading" *ngIf="!data">{{'loading' | i18n}}</div>

<ng-template [ngIf]="data">
    <div *ngFor="let message of data.data; let i = index;" class="elem">
        <div class="message">
            <a [href]="message.url" target="_blank" rel="nofollow" class="date">{{message.vg_message.date | datetime}}</a>
            <a>({{'total' | i18n}}: {{message.players.length}})</a>
            <nav *ngIf="message.crumbs.length" class="crumbs">
                <a *ngFor="let crumb of message.crumbs" [href]="crumb.url" target="_blank" rel="nofollow">{{crumb.name}}</a>
            </nav>
            <div *ngFor="let cheater of message.players; let i=index" class="cheater">
                <span class="small">{{i+1}}.</span> <nickname [nickname]="cheater.player.nickname" [clan]="cheater.clan"></nickname> <span class="small">[{{'lvl' | i18n}} {{cheater.player.progress.level}}]</span>
            </div>
        </div>
        <sense *ngIf="!i" [slot]="3384977769" [width]="'100%'" [height]="'100px'"></sense>
        <!--<dfp *ngIf="!i" [id]="'bans'"></dfp>-->
    </div>
</ng-template>

<div *ngIf="data" class="footer">
    <data-grid-counters [skip]="data.skip" [limit]="data.limit" [total]="data.total"></data-grid-counters>
    <div pagination [skip]="data.skip" [limit]="data.limit" [total]="data.total" (onPaginate)="paginate($event)"></div>
</div>
