<div class="loading" *ngIf="!data">{{'loading' | i18n}}</div>

<div *ngIf="filters?.length" [filters]="filters" [name]="'DG-dev-messages'" (onFilter)="filter($event)"></div>

<template [ngIf]="data">
    <div *ngFor="let message of data.data" class="message">
        <a [href]="message.dev.url" target="_blank" rel="nofollow" class="author">{{message.dev.name}}</a><a [href]="message.url" target="_blank" rel="nofollow" class="date">{{message.date | datetime}}</a> <a *ngIf="message.banlist" class="banlist">({{'info.messages.banlist' | i18n}})</a>
        <nav *ngIf="message.crumbs.length" class="crumbs">
            <a *ngFor="let crumb of message.crumbs" [href]="crumb.url" target="_blank" rel="nofollow">{{crumb.name}}</a>
        </nav>
        <div [innerHTML]="message.text" class="text"></div>
    </div>
</template>

<div class="telegram">
    {{'info.messages.telegram' | i18n}}
    <a telegram-channel></a>
</div>

<div *ngIf="data" class="footer">
    <data-grid-counters [skip]="data.skip" [limit]="data.limit" [total]="data.total" [filtered]="data.filtered"></data-grid-counters>
    <div pagination [skip]="data.skip" [limit]="data.limit" [total]="data.filtered" (onPaginate)="paginate($event)"></div>
</div>
