<div class="loading" *ngIf="!message">{{'loading' | i18n}}</div>

<ng-template [ngIf]="message">
    <div class="message">
        <a [href]="message.dev.url" target="_blank" rel="nofollow" class="author">{{message.dev.name}}</a>
        <a [href]="message.url" target="_blank" rel="nofollow" class="date">{{message.date | datetime}}</a>
        <nav *ngIf="message.crumbs.length" class="crumbs">
            <a *ngFor="let crumb of message.crumbs" [href]="crumb.url" target="_blank" rel="nofollow">{{crumb.name}}</a>
        </nav>
        <div [innerHTML]="message.text" class="text"></div>
    </div>
</ng-template>