@import "../../components.common/variables.styl"

a
  margin-right 1em

.message
  padding .85em 1em
  border-bottom 1px solid $bgSoft
  &:hover
    background-color $bgLight
    box-shadow 0 0 .5em $bgLight

.author
  color $highlight
  text-decoration none

.date
  position relative
  &::after
    display none
    position absolute
    right -1.25em
    content '>>'

.banlist
  color #ff0000

.crumbs
  a
    display inline-block
    padding-top .3em
    padding-bottom .3em
    position relative
    font-size .9em
    &:not(:last-of-type)
      &::after
        content '>'
        position absolute
        right -.75em

.text
  padding-top .5em

.telegram
  padding 1em
  background-color $bgLight

.footer
  display block
  padding 1em 0

:host /deep/
  cite
    display block

  blockquote
    margin .3em auto 0
    padding 1em 3vw 1em 2vw
    background-color $bgLighter

.loading
  padding 1em 0
