@import "../../components.common/variables.styl"

a
  margin-right 1em

.message
  padding .85em 1em
  border-bottom 1px solid $bgLight
  &:hover
    background-color $bgLight

.author
  color $highlight
  text-decoration none

.date
  position relative
  &::after
    position absolute
    right -1.25em
    content '>>'

.crumbs
  a
    display inline-block
    padding-top .3em
    padding-bottom .3em
    position relative
    font-size .9em
    &:nth-of-type(1n + 2)
      &::before
        content '>'
        position absolute
        left -.75em

.text
  padding-top .5em

.telegram
  padding 1em
  background-color $bgLight
  a
    text-decoration none
    color $highlight
    display inline-block
    position relative
    &::after
      content ''
      display inline-block
      background url(https://telegram.org/img/t_logo.png) 50% 50% no-repeat
      background-size cover
      width 1em
      height 1em
      margin-left .5em
      vertical-align middle

:host
  cite
    display block
