<ng-template ngIf="data">
    <h4 class="def-list__title">{{'progress' | i18n}}</h4>
    <div class="def-list__values">

        <dl *ngIf="data.foundation" class="def-list">
            <dt class="def-list__term">{{'established' | i18n}}</dt>
            <dd class="def-list__desc">{{data.foundation | datetime}}</dd>
        </dl>

        <dl class="def-list">
            <dt class="def-list__term">{{'level' | i18n}}</dt>
            <dd class="def-list__desc">{{data.level}}</dd>
        </dl>

        <dl class="def-list">
            <dt class="def-list__term">{{'rating' | i18n}}</dt>
            <dd class="def-list__desc">{{data.elo}}</dd>
        </dl>

        <dl class="def-list">
            <dt class="def-list__term">{{'kills' | i18n}}</dt>
            <dd class="def-list__desc">{{total.kills}}</dd>

        </dl>

        <dl class="def-list">
            <dt class="def-list__term">{{'dies' | i18n}}</dt>
            <dd class="def-list__desc">{{total.dies}}</dd>

        </dl>

        <dl class="def-list">
            <dt class="def-list__term">{{'kd' | i18n}}</dt>
            <dd class="def-list__desc">{{total.kd}}</dd>
        </dl>

        <dl class="def-list">
            <dt class="def-list__term">{{'victories' | i18n}}</dt>
            <dd class="def-list__desc">{{total.victories}}</dd>
        </dl>

        <dl class="def-list">
            <dt class="def-list__term">{{'looses' | i18n}}</dt>
            <dd class="def-list__desc">{{total.matches - total.victories}}</dd>
        </dl>

        <dl class="def-list">
            <dt class="def-list__term">{{'totalMatches' | i18n}}</dt>
            <dd class="def-list__desc">{{total.matches}}</dd>
        </dl>

        <dl class="def-list">
            <dt class="def-list__term">{{'winrate' | i18n}}</dt>
            <dd class="def-list__desc">{{total.winRate | percent}}</dd>
        </dl>

        <dl class="def-list">
            <dt class="def-list__term">{{'avgScore' | i18n}}</dt>
            <dd class="def-list__desc">{{total.scoreAvg}}</dd>
        </dl>

        <dl *ngIf="data.banned" class="def-list">
            <dt class="def-list__term">{{'banned' | i18n}}</dt>
            <dd class="def-list__desc">{{data.banned}}</dd>
        </dl>
    </div>

    <h4 class="def-list__title">{{'details' | i18n}}</h4>
    <div class="def-list__values">
        <dl class="def-list">
            <dt class="def-list__term">{{'headshots' | i18n}}</dt>
            <dd class="def-list__desc">{{total.headshots}}</dd>
        </dl>

        <dl class="def-list">
            <dt class="def-list__term">{{'boxesBringed' | i18n}}</dt>
            <dd class="def-list__desc">{{total.boxesBringed}}</dd>
        </dl>

        <dl class="def-list">
            <dt class="def-list__term">{{'pointCaptures' | i18n}}</dt>
            <dd class="def-list__desc">{{total.pointCaptures}}</dd>
        </dl>

        <dl class="def-list">
            <dt class="def-list__term">{{'grenadeKills' | i18n}}</dt>
            <dd class="def-list__desc">{{total.grenadeKills}}</dd>
        </dl>

        <dl class="def-list">
            <dt class="def-list__term">{{'meleeKills' | i18n}}</dt>
            <dd class="def-list__desc">{{total.meleeKills}}</dd>
        </dl>

        <dl class="def-list">
            <dt class="def-list__term">{{'artefactKills' | i18n}}</dt>
            <dd class="def-list__desc">{{total.artefactKills}}</dd>
        </dl>

        <dl class="def-list">
            <dt class="def-list__term">{{'artefactUses' | i18n}}</dt>
            <dd class="def-list__desc">{{total.artefactUses}}</dd>
        </dl>
    </div>
</ng-template>
