@import "../../components.common/variables.styl"

.visibility
  text-transform lowercase

  cursor pointer
  border-bottom-width 1px
  border-bottom-style dashed

.future
  .day
    display none

    &_current
    &_current + .day
    &_current + .day + .day
      display block

.day
  display block
  text-align center

  margin-bottom 1em
  border 1px solid #414141

  &__title
    border-bottom 1px solid #414141
    padding .2em
    margin 0

  &_current
    background-color rgba(65, 65, 65, .2)

.events
  display flex

.event
  flex-grow 1
  flex-shrink 1
  flex-basis 33%

  position relative
  padding 1em .2em

  &__title
    padding .2em
    margin 0

  &_current
    background-color rgba(65, 65, 65, .2)

    &:before
      content ''

      position absolute
      right .4em
      top .4em
      width .5em
      height .5em
      border-radius 100%

      background-color $highlight

    &.event_active
      &:before
        background-color rgb(255, 0, 0)

.progress
  height .2em
  background-color $highlight
  position absolute
  bottom 0
  left 0
