chart
  display block
  height 400px

ul
  padding 0
  margin 0
  list-style-type none

li
  display inline-block
  margin-right 1em
  position relative
  padding .35em 0 .8em 25px

span
  font-style italic

i
  position absolute
  left 0
  display inline-block
  width 20px
  height 20px
