@import "../../components.common/variables.styl"

:host
  padding-top 1em

h4
  display inline-block
  font-size 1em
  padding 0
  margin 0

ul
  list-style-type none
  padding 0
  margin 0
  display inline-block

li
  display inline-block

a
  display inline-block;
  padding 0.5em 1em 0.5em 0

.router-link-active
  color $highlight
  text-decoration none !important
