<html>
<head>
    <title><%= webpackConfig.metadata.title %></title>
    <base href="<%= webpackConfig.metadata.baseUrl %>">

    <meta name="description" content="<%= webpackConfig.metadata.description %>">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        /* preload style  */
        body {
            color: rgba(245, 245, 245, 0.65);
            background-color: #1e222b;
        }
    </style>

    <script>
        window.WebFontConfig = {
            google: { families: [ 'Exo+2:400,700:latin,cyrillic' ] }
        };

        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
                '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
    </script>
</head>

<body>
    <survarium-stats>Loading...</survarium-stats>
    <% if (webpackConfig.metadata.ENV === 'development') { %>
    <script src="http://<%= webpackConfig.metadata.host %>:<%= webpackConfig.metadata.port %>/webpack-dev-server.js"></script>
    <% } %>
</body>

</html>
