<!DOCTYPE html>
<html>
<head>
    <title><%= webpackConfig.metadata.title %></title>
    <base href="<%= webpackConfig.metadata.baseUrl %>">

    <meta name="description" content="<%= webpackConfig.metadata.description %>">
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.9, user-scalable=yes, minimum-scale=0.25, maximum-scale=2">
    <meta name="yandex-verification" content="7770d7f511fe05ee" />

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/icon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/icon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/icon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/icon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/assets/icon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/icon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/assets/icon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/icon/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="328x328" href="/assets/icon/icon.png?v=0">
    <link rel="icon" type="image/png" href="/assets/icon/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/assets/icon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/assets/icon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/assets/icon/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/assets/icon/favicon-128.png" sizes="128x128" />
    <meta property="og:image" content="/assets/icon/icon.png?v=0">
    <meta name="application-name" content="Survarium.pro"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="/assets/icon/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="/assets/icon/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="/assets/icon/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="/assets/icon/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="/assets/icon/mstile-310x310.png" />

    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "https://survarium.pro",
      "description": "Статистика игроков, матчей, кланов Survarium. Стримы Survarium. Сообщения разработчиков Survarium.",
      "logo": "https://survarium.pro/assets/icon/icon.png",
      "sameAs": [
        "https://vk.com/survarium_pro",
        "https://telegram.me/survarium_pro"
      ]
    }
    </script>

    <style>
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            color: rgba(245, 245, 245, 0.65);
            background-color: #191C23;
            margin: 0;
            padding: 0;
        }
    </style>

    <% if (webpackConfig.metadata.ENV === 'production') { %>
    <script>
        (function (location) {
            var v1Detection = location.search.toString();
            if (v1Detection === '' || !v1Detection.match(/^\??(player|players|match|clan|streams)\=(.+)$/)) {
                return;
            }

            var component = RegExp.$1;
            var value = RegExp.$2;

            switch (component) {
                case 'player':
                    location.assign('/players/' + encodeURIComponent(value));
                    break;
                case 'players':
                    location.assign('/players');
                    break;
                case 'match':
                    location.assign('/match/' + encodeURIComponent(value));
                    break;
                case 'clan':
                    location.assign('/clans/' + encodeURIComponent(value));
                    break;
                case 'streams':
                    location.assign('/streams/youtube');
                    break;
                default: break;
            }
        })(window.location);
    </script>
    <% } %>

    <script>
        window.WebFontConfig = {
            google: { families: [ 'Exo+2:400,700:latin,cyrillic' ] }
        };

        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
                '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
    </script>

    <% if (webpackConfig.metadata.ENV === 'production') { %>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window, document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-72532245-2', 'auto');

        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
            try {
                w.metrika = new Ya.Metrika({
                    id:35602115,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true,
                    trackHash:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
        })(document, window, "yandex_metrika_callbacks");

        (function(d, t, p) {
            var j = d.createElement(t); j.async = true; j.type = "text/javascript";
            j.src = ("https:" == p ? "https:" : "http:") + "//stat.sputnik.ru/cnt.js";
            var s = d.getElementsByTagName(t)[0]; s.parentNode.insertBefore(j, s);
        })(document, "script", document.location.protocol);

        var _tmr = window._tmr || (window._tmr = []);
        _tmr.push({id: "2768528", type: "pageView", start: (new Date()).getTime()});
        (function (d, w, id) {
            if (d.getElementById(id)) return;
            var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true; ts.id = id;
            ts.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//top-fwz1.mail.ru/js/code.js";
            var f = function () {var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s);};
            if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }
        })(document, window, "topmailru-code");
    </script>
    <% } %>

    <script src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>

<body>
    <div class="bg"></div>
    <survarium-stats>
        <noindex>Loading...</noindex>
        <div><noindex><a href="https://v1.survarium.pro" style="color: rgba(245, 245, 245, 0.65);">Survarium.pro V1</a></noindex></div>
        <div><%= webpackConfig.metadata.title %>. <%= webpackConfig.metadata.description %></div>
        <noindex><small>v. <%= webpackConfig.metadata.version %>, <%= webpackConfig.metadata.updated %></small></noindex>
    </survarium-stats>
    <% if (webpackConfig.metadata.ENV === 'development') { %>
    <script src="http://<%= webpackConfig.metadata.host %>:<%= webpackConfig.metadata.port %>/webpack-dev-server.js"></script>
    <% } %>

    <script type="text/javascript" src="https://yastatic.net/browser-updater/v1/script.js" charset="utf-8"></script>
    <script>
        var __lang = window.navigator.userLanguage || window.navigator.language;
        var __langDefault = 'en';
        __lang = !__lang ? 'en' :
                __lang.match(/ru/i) ? 'ru' : 'en';

        var yaBrowserUpdater = new ya.browserUpdater.init({"lang":__lang,"browsers":{"yabrowser":"15.12","chrome":"46","ie":"10","opera":"34","safari":"8","fx":"43","amigo":"Infinity","iron":"35","flock":"Infinity","palemoon":"25","camino":"Infinity","maxthon":"4.5","seamonkey":"2.3"},"theme":"yellow"});
    </script>
</body>

</html>
