<div *ngIf="!data.live">{{'loading' | i18n}}</div>
<div *ngIf="data.live && !data.live.length">{{'streams.none' | i18n}}</div>
<div *ngIf="data.live && data.live.length" class="steams__group streams__group_live">
    <div *ngFor="let video of data.live" class="streams__item" [style.width]="getPx(size.width)">
        <iframe
            [attr.width]="size.width"
            [attr.height]="size.height"
            [src]="getEmbed(video)"
            frameborder="0"
            scrolling="no"
            allowfullscreen="true">
        </iframe>
        <a target="_blank" [href]="getLink(video)" class="streams__info">
            <div class="streams__viewers">{{'streams.viewers' | i18n : { count: video.viewer_count } }}</div>
            <h4 class="streams__title">{{video.title}}</h4>
            <small>{{video.started_at | datetime}}</small>
        </a>
    </div>
</div>
