<div *ngIf="!data.live">{{'loading' | i18n}}</div>
<div *ngFor="let type of ['live', 'archive']" [class]="'steams__group streams__group_' + type">
    <template [ngIf]="data[type] && data[type].length">
        <h3 class="streams__heading">{{'streams.' + type | i18n }}</h3>
        <div *ngFor="let video of data[type]" class="streams__item" [attr.style]="'width:' + size.width + 'px'">
            <iframe [attr.width]="size.width" [attr.height]="size.height" src="https://www.youtube.com/embed/{{video.id.videoId}}" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
            <a target="_blank" href="https://www.youtube.com/watch?v={{video.id.videoId}}" class="streams__info" [style.width]="size.width">
                <h4 class="streams__title">{{video.snippet.title}}</h4>
                <small>{{video.snippet.publishedAt | datetime }}</small>
            </a>
        </div>
    </template>
</div>
