$baseFontColor = rgba(245, 245, 245, 0.65)

$maxWidth = 2200px
$minWidth = 500px

$highlight = #ffce1f
$accent = #f5f5f5

$padLeft = 1.4em

$bgSoft = hsla(0, 0%, 100%, .1)
$bgLight = hsla(0, 0%, 100%, .04)
$bgLighter = hsla(0, 0%, 100%, .03)
