@import "../variables.styl"

:host
  font-size .8em
  display inline-block

.lang
  display inline-block
  padding .5em .2em

  &:first-of-type
    padding-left 0

  &:not(.current)
    text-decoration underline
    opacity 0.7
    cursor pointer

  &.current
    color $highlight

.en_icon
  background url(assets/lang_switcher/en.png) no-repeat 50% 50%/cover

.ua_icon
  background url(assets/lang_switcher/ua.png) no-repeat 50% 50%/cover

.ru_icon
  background url(assets/lang_switcher/ru.png) no-repeat 50% 50%/cover

.pl_icon
  background url(assets/lang_switcher/pl.png) no-repeat 50% 50%/cover

.es_icon
  background url(assets/lang_switcher/es.png) no-repeat 50% 50%/cover

.ico32x32
    width 18px
    height 22px