.skill
  min-height 77px
  position relative
  border-bottom 1px dashed rgba(200, 200, 200, .2)

.skill:last-of-type
  border-bottom-style solid

.icon
  float left
  max-width 77px

.info
  margin-left 87px
  padding 1em 0

.title
  margin 0

