@import "../../components.common/variables.styl"

.param
  text-decoration underline
  cursor pointer
  display inline-block
  padding .2em .4em
  text-transform lowercase

.current
  text-decoration none
  color $highlight
