@import "../../components.common/variables.styl"

.switch
  cursor pointer
  border-bottom-width 1px
  border-bottom-style dashed

.title
  margin 0 auto .2em

.list
  display flex
  flex-wrap wrap
  justify-content flex-start

.elem
  flex-grow 0
  flex-shrink 1
  flex-basis 170px
  box-sizing border-box
  padding .8em 1em .8em 0

:host /deep/
  .best
    nickname .name
    .score .val,
    match a
      color $highlight
