@import "../../components.common/variables.styl"

.switch
  cursor pointer
  border-bottom-width 1px
  border-bottom-style dashed

.title
  margin 0 auto .2em
  font-weight 900

.list
  justify-content flex-start

.noBotMarge
    margin-bottom 0

.elem
  box-sizing border-box
  padding .8em 1em .8em 0

:host /deep/
  nickname .name,
  .val,
  match a
    color $highlight
