<div *ngIf="!show">{{'loading' | i18n}}</div>
<pre *ngIf="error">{{error}}</pre>
<template [ngIf]="show">
    <h1 class="title">
        <span>{{'players.detail' | i18n}}</span>
        <nickname [nickname]="data.nickname" [class.highlight]="true" [clan]="data.clan"></nickname>
        <players-detail-leveling [level]="data.progress.level" [exp]="data.progress.experience"></players-detail-leveling>
    </h1>
    <badges [player]="data"></badges>
    <also-known [nicknames]="data.nicknames"></also-known>
    <players-detail-skills [nickname]="data.nickname"></players-detail-skills>
    <players-detail-ammunition [ammunition]="data.ammunition"></players-detail-ammunition>
    <players-detail-counts [data]="data"></players-detail-counts>
    <players-detail-matches [nickname]="data.nickname"></players-detail-matches>
    <!--<dfp [id]="'playerSplit'"></dfp>-->
    <adsense [slot]="2047845364" [width]="'100%'" [height]="'100px'"></adsense>
    <players-detail-history [nickname]="data.nickname"></players-detail-history>
    <div [innerHTML]="jsonLD"></div>
</template>
