<h4 class="def-list__title">{{'progress' | i18n}}</h4>
<div class="def-list__values">
    <dl class="def-list">
        <dt class="def-list__term">{{'level' | i18n}}</dt>
        <dd class="def-list__desc">{{data.progress.level}}</dd>
    </dl>

    <dl class="def-list" *ngIf="data.progress.rating_match_elo" [title]="'rating_match_elo_title' | i18n">
        <dt class="def-list__term">{{'rating_match_elo' | i18n}}</dt>
        <dd class="def-list__desc">{{data.progress.rating_match_elo | number}}</dd>
    </dl>

    <dl class="def-list" *ngIf="data.progress.random_match_elo" [title]="'random_match_elo_title' | i18n">
        <dt class="def-list__term">{{'random_match_elo' | i18n}}</dt>
        <dd class="def-list__desc">{{data.progress.random_match_elo | number}}</dd>
    </dl>

    <dl class="def-list">
        <dt class="def-list__term">{{'exp' | i18n}}</dt>
        <dd class="def-list__desc">{{data.progress.experience | number}}</dd>
    </dl>

    <dl class="def-list">
        <dt class="def-list__term">{{'kills' | i18n}}</dt>
        <dd class="def-list__desc">{{data.total.kills | number}}</dd>

    </dl>

    <dl class="def-list">
        <dt class="def-list__term">{{'dies' | i18n}}</dt>
        <dd class="def-list__desc">{{data.total.dies | number}}</dd>

    </dl>

    <dl class="def-list">
        <dt class="def-list__term">{{'kd' | i18n}}</dt>
        <dd class="def-list__desc">{{data.total.kd}}</dd>
    </dl>

    <dl class="def-list">
        <dt class="def-list__term">{{'victories' | i18n}}</dt>
        <dd class="def-list__desc">{{data.total.victories | number}}</dd>
    </dl>

    <dl class="def-list">
        <dt class="def-list__term">{{'looses' | i18n}}</dt>
        <dd class="def-list__desc">{{data.total.matches - data.total.victories | number}}</dd>
    </dl>

    <dl class="def-list">
        <dt class="def-list__term">{{'totalMatches' | i18n}}</dt>
        <dd class="def-list__desc">{{data.total.matches | number}}</dd>
    </dl>

    <dl class="def-list">
        <dt class="def-list__term">{{'winrate' | i18n}}</dt>
        <dd class="def-list__desc">{{data.total.winRate | percent}}</dd>
    </dl>

    <dl class="def-list">
        <dt class="def-list__term">{{'avgScore' | i18n}}</dt>
        <dd class="def-list__desc">{{data.total.scoreAvg | number}}</dd>
    </dl>

    <dl class="def-list" *ngIf="data.wasted">
        <dt class="def-list__term">{{'wastedTime' | i18n}}</dt>
        <dd class="def-list__desc">{{data.wasted | elapsed}}</dd>
    </dl>
</div>

<h4 class="def-list__title">{{'details' | i18n}}</h4>
<div class="def-list__values">
    <dl class="def-list">
        <dt class="def-list__term">{{'headshots' | i18n}}</dt>
        <dd class="def-list__desc">{{data.total.headshots | number}}</dd>
    </dl>

    <dl class="def-list">
        <dt class="def-list__term">{{'boxesBringed' | i18n}}</dt>
        <dd class="def-list__desc">{{data.total.boxesBringed | number}}</dd>
    </dl>

    <dl class="def-list">
        <dt class="def-list__term">{{'pointCaptures' | i18n}}</dt>
        <dd class="def-list__desc">{{data.total.pointCaptures | number}}</dd>
    </dl>

    <dl class="def-list">
        <dt class="def-list__term">{{'grenadeKills' | i18n}}</dt>
        <dd class="def-list__desc">{{data.total.grenadeKills | number}}</dd>
    </dl>

    <dl class="def-list">
        <dt class="def-list__term">{{'meleeKills' | i18n}}</dt>
        <dd class="def-list__desc">{{data.total.meleeKills | number}}</dd>
    </dl>

    <dl class="def-list">
        <dt class="def-list__term">{{'artefactKills' | i18n}}</dt>
        <dd class="def-list__desc">{{data.total.artefactKills | number}}</dd>
    </dl>

    <dl class="def-list">
        <dt class="def-list__term">{{'artefactUses' | i18n}}</dt>
        <dd class="def-list__desc">{{data.total.artefactUses | number}}</dd>
    </dl>
</div>
