.title
  font-size 1em

  span
    font-size 1em
    display block
    opacity .6
    padding .3em 0

nickname
  font-size 2em
  font-weight 700
  display inline-block
  vertical-align top

:host /deep/ .title nickname clan a
  text-decoration none

nickname .name
  color #ffce1f
  text-decoration none

players-detail-matches
  margin 2em auto
  display block
