<a [routerLink]="['/Armory', 'ArmoryItem', { item: item.key }]" xmlns="http://www.w3.org/1999/html">
    <h2 class="name">{{item.name}} <small *ngIf="mods?.length > 3">({{mods.length}} mods)</small><small class="level">{{'lvl' | i18n}}: {{item.level}}</small></h2>
    <img *ngIf="item.image" [src]="item.image" />
    <div class="desc" *ngIf="item.desc">{{item.desc}}</div>
    <dl *ngFor="let prop of item.props">
        <dt>{{prop.name}}</dt>
        <dd>{{prop.value}}</dd>
    </dl>
    <div *ngIf="defaultMods?.length || mods?.length" class="mods">
        <dl *ngFor="let mod of defaultMods" class="mod" [id]="'mod_' + mod.id">
            <dt>{{mod.name}}</dt>
            <dd [ngSwitch]="mod.postfix">
                <template [ngSwitchCase]="'st_item_props_percent'">{{mod.value > 0 ? '+' : ''}}{{mod.value * 100 | percent}}</template>
                <template [ngSwitchCase]="'st_item_props_kg'">{{mod.value > 0 ? '+' : ''}}{{mod.value}} {{ 'armory.item.kg' | i18n }}</template>
                <template [ngSwitchCase]="'st_item_props_sec'">{{mod.value > 0 ? '+' : ''}}{{mod.value}} {{ 'armory.item.sec' | i18n }}</template>
                <template ngSwitchDefault>{{mod.value > 0 ? '+' : ''}}{{mod.value}}</template>
            </dd>
        </dl>
        <dl *ngFor="let mod of mods" class="mod" [id]="'mod_' + mod.id">
            <dt>{{mod.name}}</dt>
            <dd [ngSwitch]="mod.postfix">
                <template [ngSwitchCase]="'st_item_props_percent'">{{mod.value > 0 ? '+' : ''}}{{mod.value * 100 | percent}}</template>
                <template [ngSwitchCase]="'st_item_props_kg'">{{mod.value > 0 ? '+' : ''}}{{mod.value}} {{ 'armory.item.kg' | i18n }}</template>
                <template [ngSwitchCase]="'st_item_props_sec'">{{mod.value > 0 ? '+' : ''}}{{mod.value}} {{ 'armory.item.sec' | i18n }}</template>
                <template ngSwitchDefault>{{mod.value > 0 ? '+' : ''}}{{mod.value * 100}}</template>
            </dd>
        </dl>
    </div>
</a>
