:host
  display block

  & /deep/
    badge
      display inline-block
      vertical-align top
      padding .3em .5em
      margin .3em .5em
      border 1px solid rgba(200, 200, 200, .3)
      color rgba(200, 200, 200, .5)
      font-size .8em

    &:first-of-type
      margin-left 0

    .cheater
      border-color rgba(255, 0, 0, 1)
      color rgba(255, 0, 0, 1)

    .sclCheat, .sclCheat2
        border-color rgba(255, 0, 0, .8)
        color rgba(255, 0, 0, .8)

    .scl1, .scl2, .scl3, .scl4, .scl5, .svpro-developer, .scl2_1, .scl2_2, .scl2_3, .scl2_4, .scl2_5
        color rgba(255, 206, 31, .8)
        border-color rgba(255, 206, 31, .8)

    .scl6, .scl7, .scl8, .scl9, .scl10, .scl2_6, .scl2_7, .scl2_8, .scl2_9, .scl2_10
        color rgba(255, 206, 31, .8)