:host
  display inline


.clan_default
  white-space nowrap

  &::before
    content '['
    display inline-block
  &::after
    content '] '
    display inline-block

.clan_winner
  font-weight 700
  color #ffce1f
