:host
  display inline

  .abbr
    display inline-block
    line-height 1.04em
    border-bottom 1px solid

a
  text-decoration none

.clan_default
  white-space nowrap

.clan_winner
  font-weight 700
  color #ffce1f

.clan_nounderline
  .abbr
    border-bottom none

