:host
  display block !important

  &.shown
    padding-bottom 2em

  .adsbygoogle
    display block !important
    visibility visible !important
    opacity 1 !important

    background-color #2a333e
    position relative
    z-index 1

    .preloader
      position absolute
      text-align center
      z-index 0
      display table
      left 0
      top 0
      width 100%
      height 100%

      & > span
        display table-cell
        vertical-align middle
