:host
  display block
  float right
  text-align right

.data-grid__page
  display inline-block
  padding .3em .5em
  cursor pointer

.data-grid__page_current
  color #ffce1f

.data-grid__page_breaker
  cursor auto

.disabled
  pointer-events none
  opacity .6

@media (max-width: 650px)
  :host
    float none
    text-align left
    clear both

    .data-grid__page:first-of-type
      padding-left 0

