<div class="grid">
    <div class="container" [style.width]="width">
        <div class="header">
            <data-grid-cell-title
                    *ngFor="#column of columns, #i=index"
                    [column]="column"
                    [columnIndex]="i"
                    [width]="column.width || defaultColumnWidth"
                    [height]="columnHeadHeight"
                    [title]="column.title"
                    [sort]="currentSort"
                    (click)="headerClick({ column: column, columnIndex: i }, $event)"></data-grid-cell-title>
        </div>
        <div class="body">
            <div *ngFor="#row of data, #i=index" class="row">
                <td *ngIf="row.__group" [attr.colSpan]="columnsCount" class="data-grid-rowgroup" [innerHTML]="row.content"></td>
                <template [ngIf]="!row.__group">
                    <data-grid-cell
                            *ngFor="#column of columns, #j=index"
                            [row]="row"
                            [rowIndex]="rowIndex(row, i)"
                            [column]="column"
                            [columnIndex]="j"
                            [width]="column.width || defaultColumnWidth"
                            [height]="columnHeight"
                            [skip]="skip"
                            (click)="cellClick({ column: column, columnIndex: j, row: row, rowIndex: i }, $event)"></data-grid-cell>
                </template>
            </div>
        </div>
    </div>
</div>
<div class="pagination">
    <data-grid-counters [skip]="skip" [limit]="limit" [total]="total"></data-grid-counters>
    <div pagination [skip]="skip" [limit]="limit" [total]="total" (onPaginate)="paginate($event)"></div>
</div>
<data-grid-loading *ngIf="loading"></data-grid-loading>
