:host
  display table-cell
  box-sizing border-box
  border-collapse separate
  padding-top .5em
  padding-bottom .5em
  padding-left .5em
  padding-right .5em
  text-overflow ellipsis
  overflow hidden
  vertical-align middle

  border 1px solid #414141
  border-left-width 0
  border-bottom-width 0

  &:first-of-type
    border-left-width 1px

  &.nowrap
    white-space nowrap

  &.blockLink
    a
      display block

  &.center
    text-align center

