:host {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(245, 245, 245, .10);
}

span {
    position: absolute;
    top: 50%;
    width: 100%;
    display: block;
    text-align: center;
    text-shadow: 0 0 2px #000;
    font-weight: 700;
    font-size: 1.2em;
}
