:host
  display block
  position relative

.grid
  max-width 100%
  overflow auto

.header
  position relative
  display table-header-group

.body
  display table-row-group

.container
  position relative
  display table
  border-bottom 1px solid #414141

.pagination
  margin 1em auto
  clear fix

.row
  display table-row
  &:hover
    background none repeat scroll 0 0 hsla(0, 0%, 100%, .04)

.data-grid-rowgroup
  border 1px solid #414141
  border-bottom none
  padding .5em
